
<div class="d-flex justify-content-center container pt-5 flex-column align-items-center customn-field bg-black">
    <label class="text-light" type="password">Password: </label>
    <br>
    <input placeholder="Enter password: " class="input_customn" type="text" [style.padding]="'5px'" [formControl]="password" name="password" >
    <div >
        <br><br>    
        <div>
            <p class="alert_customn"  [style.color]="colorSection1">password</p>
        </div>
        <br><br>
        <div>
            <p class="alert_customn"  [style.color]="colorSection2">password</p>
        </div>
        <br><br>
        <div>
            <p class="alert_customn" [style.color]="colorSection3">password</p>
        </div>
        <br><br>
    </div>
</div>
