.alert_customn {
  border: 2px solid rgb(118, 118, 118);
  padding: 5px;
}

.input_customn {
  border-radius: solid black 5px;
}

.customn-field {
  border: 2px solid greenyellow;
  width: 50%;
  margin-top: 5%;
}

.alert_customn:hover {
  border: 2px solid greenyellow;
}
