
    <div class="d-flex justify-content-center pt-5 flex-column align-items-center">
        <label for="password">Password: </label>
        <br>
        <input type="text" [style.padding]="'5px'" [formControl]="password" name="password" >
        <div>
            <br><br>    
            <div>
                <p 
                [style.color]="colorBlank"
                [style.border]="'solid 2px black'" 
                [style.padding]="'10px'" >Password are low</p>
            </div>
            <br><br>
            <div>
                <p 
                [style.color]="colorBlank2"
                [style.border]="'solid 2px black'"
                [style.padding]="'10px'"
                >Pasword are middle</p>
            </div>
            <br><br>
            <div>
                <p 
                [style.color]="colorBlank"
                [style.border]="'solid 2px black'"
                [style.padding]="'10px'"
                >Pasword are strong</p>
            </div>
            <br><br>
        </div>
    
    </div>
