
    <div class="d-flex justify-content-center pt-5 flex-column align-items-center">
        <label for="password">Password: </label>
        <br>
        <input type="text" [style.padding]="'5px'" [formControl]="password" name="password" >
        <div>
            <br><br>    
            <div>
                <span class="alert_customn" [style.color]="colorSection1">password</span>
            </div>
            <br><br>
            <div>
                <span class="alert_customn" [style.color]="colorSection2">password</span>
            </div>
            <br><br>
            <div>
                <span class="alert_customn"  [style.color]="colorSection3">password</span>
            </div>
            <br><br>
        </div>
    </div>
